@font-face {
    font-display: swap;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/FuturaPT-Light.woff2") format("woff2"),
        url("./fonts/FuturaPT-Light.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/FuturaPT-Book.woff2") format("woff2"),
        url("./fonts/FuturaPT-Book.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/FuturaPT-Medium.woff2") format("woff2"),
        url("./fonts/FuturaPT-Medium.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/FuturaPT-Bold.woff2") format("woff2"),
        url("./fonts/FuturaPT-Bold.woff") format("woff");
}

* {
    box-sizing: border-box;

}

html {
    height: 100vh;
}

body {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-weight: 16px;
    background-color: #F9F9F9;
}

main {
    flex-grow: 1;
    /* background-color: #e5e5e5; */
    background-image: url("./images/bg.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

}

header,
footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}


img {
    display: block;
}

/* site header */


.container {

    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}



.site-header__top-wrapper {
    padding: 10px 0 12px 0;
    background: #F9F8F8;

}

.adress {
    width: 1117px;
    margin-left: auto;
}

.site-header__adresss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
}

/* .adress__wrapper {

} */

.adress__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    color: #333333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.adress__link:hover {

    color: #FFBD54;
}

.adress__link::before {
    position: absolute;
    content: "";
    background-image: url("./icons/house.svg");
    width: 14px;
    height: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(50% - 130px);

}

.adress__wrapper-middle {
    display: flex;
    gap: 22px;
}

.adress__tel-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #333333;
    transition: color 0.3s ease;
}

.adress__tel-link:hover {
    color: #FFBD54;
}

.adress__tel-link:active {
    color: #333333;
    opacity: 0.6;
}



.adress__tel-link:first-child:before {
    position: absolute;
    content: "";
    background-image: url("./icons/phgone.svg");
    width: 13px;
    height: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(50% - 70px);

}

.adress__tel-link:nth-child(2):before {
    position: absolute;
    content: "";
    background-image: url("./icons/dot.svg");
    width: 4px;
    height: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 2px);
    left: calc(50% - 64px);
}

.adress__tel-link:nth-child(3):before {
    position: absolute;
    content: "";
    background-image: url("./icons/dot.svg");
    width: 4px;
    height: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 2px);
    left: calc(50% - 64px);
}

.adress__wrapper-last {
    display: flex;
    gap: 17px;
}

.adress__time-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #333333;
    text-decoration: none;
    transition: color 0.3s ease;

}

.adress__time-link:hover {

    color: #FFBD54;
}

.adress__time-link:first-child:before {

    position: absolute;
    content: "";
    background-image: url("./icons/quarts.svg");
    width: 14px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(50% - 80px);
}

.site-header__bottom-wrapper {
    display: flex;
    background-color: #fff;

}

.bottom-wrapper__box {
    padding-top: 18px;
    padding-bottom: 16px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #FFFFFF; */
}

.site-header__logo {
    position: relative;

    display: inline-block;
}

.site-logo__img {
    position: absolute;
    z-index: 2;
    display: block;
    top: calc(50% - 50px);
}

.site-logo__img:hover {
    opacity: 0.6;
}

.site-logo__img:active {
    opacity: 0.8;
}

.bottom-wrapper__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 55px;
    list-style: none;
    margin-left: 110px;
}

.bottom-wrapper__item {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;


}

.bottom-wrapper__item:first-child::before {
    position: absolute;
    content: "";
    background-image: url("./icons/fishsh.svg");
    width: 19px;
    height: 15px;
    background-repeat: no-repeat;
    left: calc(50% - 55px);
}

.bottom-wrapper__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    border-bottom: 4px solid transparent;

    transition: border 0.2s ease;
}

.bottom-wrapper__link:hover {
    border-bottom: 4px solid rgb(233, 233, 129);

}

.bottom-wrapper__link:active {

    border-bottom: 4px solid rgb(233, 233, 129);
    opacity: 0.6;


}

.bottom-wrapper__button {
    position: relative;
    outline-style: none;
    border: none;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #333333;

}

.bottom-wrapper__button::before {
    position: absolute;
    content: "";
    background-image: url("./icons/pet.svg");
    width: 23px;
    height: 21px;
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(50% - 90px);

}

/*  main part */

.site-section {


    background-image: url("./images/catyellow.png"), url(./images/kiss.png) ;
    background-size: 569px 466px, 654px 640px;
    background-repeat: no-repeat;
    background-position: calc(50% + 465px) calc(50% - 406px), calc(50% + 409px) calc(50% + 330px);
    padding-left: 112px;
}



.site-section__text {
    margin: 0;
    padding-top: 118px;
    margin-bottom: 27px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: #333333;

}

.site-section__desc-wrapper {
    width: 447px;

}

.site-section__desc {
    margin: 0;
    margin-bottom: 35px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.site-section__link {
    position: relative;
    display: inline-block;
    padding: 14px 38px 15px 66px;
    margin-bottom: 63px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #78C0DE;
    border-radius: 3px;
    text-decoration: none;
}
.site-section__link:hover {
    color: #333333;
    background: #FFBD54;
}


.site-section__link::before {
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url("./images/document.svg");
    content: "";
    left: calc(50% - 79px);
    top: calc(50% - 10px);
}



.site-section__chat__wrapper {
    display: flex;
    flex-direction: column;

    padding-bottom: 200px;
}

.chat__list {
    width: 752px;
    padding: 0;
    list-style: none;
}

.chat-itrem {
    margin-bottom: 18px;
    padding-left: 63px;
}

.chat-itrem:nth-child(2){
    padding-top: 30px;
    padding-bottom: 32px;
}
.chat-itrem:nth-child(3){
    padding-top: 30px;
    padding-bottom: 32px;
}
.chat-itrem:nth-child(4){
    padding-top: 30px;
    padding-bottom: 32px;
}
.chat-itrem:nth-child(5){
    padding-top: 30px;
    padding-bottom: 32px;
}

.chat-itrem:nth-child(3) {
    opacity: 0.4;
}
.chat-itrem:nth-child(6) {
    opacity: 0.4;
}

.chat__link {
    text-decoration: none;
}

.chat__inner-time {
    display: flex;
    margin-bottom: 12px;

}

time {
    margin-right: 33px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    display: flex;
    align-items: center;

    color: #333333;
}
.chat__time-odd:before{
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url("./images/pet.svg");
    content: "";
    left: calc(50% - 520px);
  
}
.chat__time:before{
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url("./images/petyellow.svg");
    content: "";
    left: calc(50% - 520px);
  
}

.chat__desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 183% */

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #78C0DE;
}

.chat__detalis {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    /* or 110% */

    display: flex;
    align-items: center;

    color: #333333;
}

.chat__summary::marker {
    content: none;

}

.chat__title-sec {
    margin: 0;

}

.chat__title-sec::before {
    position: absolute;
    background-image: url("./images/line.svg");
    width: 15px;
    height: 10px;

    background-repeat: no-repeat;
    content: "";
    left: calc(50% + 150px);
}
.chat__title-sec--quarts::before{
    position: absolute;
    background-image: url("./images/clock.svg");
    width: 25px;
    height: 25px;

    background-repeat: no-repeat;
    content: "";
    left: calc(50% + 150px);
}
datalist[open] .chat__title-sec::before {
    transform: rotate(90deg);
}

.chat__desc-sec {
    width: 577px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */


    color: #949494;
}





.site-footer {
    padding: 54px 0 23px 0;
    background: #F3F3F3;
}

.site-footer__wrapper {
    display: flex;
    align-items: start;

}

.site-footer__img {
    display: block;
    margin-right: 67px;
}

.site-footer__img:hover {
    opacity: 0.6;
}

.site-footer__img:active {
    opacity: 0.8;
}

.site-footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}



.site-footer__item {

    margin-right: 100px;
    margin-bottom: 14px;
}

.site-footer__link {
    transition: color 0.3s ease;
}

.site-footer__address {
    transition: color 0.3s ease;
}

.site-footer__time {
    transition: color 0.3s ease;
}

.site-footer__link:hover {
    color: #FFBD54;
}

.site-footer__link:active {
    color: rgba(51, 51, 51, 0.7);
}

.site-footer__time:hover {
    color: #FFBD54;
}

.site-footer__time:active {
    color: rgba(51, 51, 51, 0.7);
}

.site-footer__address:hover {
    color: #FFBD54;
}

.site-footer__address:active {
    color: rgba(51, 51, 51, 0.7);
}

.site-footer__item-las {
    transition: color 0.3s ease;
    margin-right: 157px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.site-footer__item-add {
    position: relative;

    margin-right: 136px;
    margin-bottom: 3px;
}

.site-footer__item-add:first-child:before {
    position: absolute;
    content: "";
    background-image: url("./icons/quarts.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    left: calc(50% - 85px);
    top: 5px;
}

.site-footer__item-map {
    position: relative;

    margin-right: 111px;
}

.site-footer__item-map:first-child:before {
    position: absolute;
    content: "";
    background-image: url("./icons/house.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    left: calc(50% - 95px);
    top: 5px;
}

.site-footer__item-tel {
    position: relative;
    margin-bottom: 4px;

}

.site-footer__item-tel:first-child:before {
    position: absolute;
    content: "";
    background-image: url("./icons/phgone.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    left: calc(50% - 85px);
    top: 5px;
}

.site-footer__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.site-footer__item_las {
    margin-bottom: 16px;
}

.site-footer__time {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    color: #333333;
}


.site-footer__address {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #333333;
}

.site-footer__desc-sec {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #5C5C5C;
}