@font-face {
    font-display: swap;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/FuturaPT-Light.woff2") format("woff2"),
        url("./fonts/FuturaPT-Light.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/FuturaPT-Book.woff2") format("woff2"),
        url("./fonts/FuturaPT-Book.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/FuturaPT-Medium.woff2") format("woff2"),
        url("./fonts/FuturaPT-Medium.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/FuturaPT-Bold.woff2") format("woff2"),
        url("./fonts/FuturaPT-Bold.woff") format("woff");
}

* {
    box-sizing: border-box;

}

html {
    height: 100vh;
}

body {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-weight: 16px;
    background-color: #F9F9F9;
}

main {
    flex-grow: 1;
    /* background-color: #e5e5e5; */
    background-image: url("./images/bg.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

}
  header, footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
  
  main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
  }


img {
    display: block;
}

/* site header */


.container {

    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header__top-wrapper {
    padding: 10px 0 12px 0;
    background: #F9F8F8;

}

.adress {
    width: 1117px;
    margin-left: auto;
}

.site-header__adresss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
}

/* .adress__wrapper {

} */

.adress__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    color: #333333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.adress__link:hover {

    color: #FFBD54;
}

.adress__link::before {
    position: absolute;
    content: "";
    background-image: url("./icons/house.svg");
    width: 14px;
    height: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(50% - 130px);

}

.adress__wrapper-middle {
    display: flex;
    gap: 22px;
}

.adress__tel-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #333333;
    transition: color 0.3s ease;
}

.adress__tel-link:hover {
    color: #FFBD54;
}

.adress__tel-link:active {
    color: #333333;
    opacity: 0.6;
}



.adress__tel-link:first-child:before {
    position: absolute;
    content: "";
    background-image: url("./icons/phgone.svg");
    width: 13px;
    height: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(50% - 70px);

}

.adress__tel-link:nth-child(2):before {
    position: absolute;
    content: "";
    background-image: url("./icons/dot.svg");
    width: 4px;
    height: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 2px);
    left: calc(50% - 64px);
}

.adress__tel-link:nth-child(3):before {
    position: absolute;
    content: "";
    background-image: url("./icons/dot.svg");
    width: 4px;
    height: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 2px);
    left: calc(50% - 64px);
}

.adress__wrapper-last {
    display: flex;
    gap: 17px;
}

.adress__time-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #333333;
    text-decoration: none;
    transition: color 0.3s ease;

}

.adress__time-link:hover {

    color: #FFBD54;
}

.adress__time-link:first-child:before {

    position: absolute;
    content: "";
    background-image: url("./icons/quarts.svg");
    width: 14px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(50% - 80px);
}

.site-header__bottom-wrapper {
    display: flex;
    background-color: #fff;

}

.bottom-wrapper__box {
    padding-top: 18px;
    padding-bottom: 16px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #FFFFFF; */
}

.site-header__logo {
    position: relative;

    display: inline-block;
}

.site-logo__img {
    position: absolute;
    z-index: 2;
    display: block;
    top: calc(50% - 50px);
}

.site-logo__img:hover {
    opacity: 0.6;
}

.site-logo__img:active {
    opacity: 0.8;
}

.bottom-wrapper__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 55px;
    list-style: none;
    margin-left: 110px;
}

.bottom-wrapper__item {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;


}

.bottom-wrapper__item:first-child::before {
    position: absolute;
    content: "";
    background-image: url("./icons/fishsh.svg");
    width: 19px;
    height: 15px;
    background-repeat: no-repeat;
    left: calc(50% - 55px);
}

.bottom-wrapper__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    border-bottom: 4px solid transparent;

    transition: border 0.2s ease;
}

.bottom-wrapper__link:hover {
    border-bottom: 4px solid rgb(233, 233, 129);

}

.bottom-wrapper__link:active {

    border-bottom: 4px solid rgb(233, 233, 129);
    opacity: 0.6;


}

.bottom-wrapper__button {
    position: relative;
    outline-style: none;
    border: none;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #333333;

}

.bottom-wrapper__button::before {
    position: absolute;
    content: "";
    background-image: url("./icons/pet.svg");
    width: 23px;
    height: 21px;
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(50% - 90px);

}

.site-section__text-wrapper {
    width: 608px;
    margin-left: auto;
    padding-top: 153px;
    padding-bottom: 321px;
}

.site-section__desc-wrapper {
    width: 405px;
}

.site-section {
    background-image: url("./icons/bgimage.png"), url("./icons/bgimagesright.png");
    background-size: 870px 834px, 319px 430px;
    background-repeat: no-repeat;
    background-position: calc(50% - 500px) calc(50% - 90px), calc(50% + 650px) calc(50% + 200px);

}

.site-section__text {
    margin: 0;
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: #333333;

}

.site-section__text-blue {
    color: rgba(120, 192, 222, 1);
}

.site-section__desc {
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #949494;

}

.site-section__link {
    display: inline-block;
    padding: 15px 48px 16px 47px;
    background-color: #333333;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.site-section__link:hover {
    color: #333333;
    background: #FFBD54;
}

.site-section__link:active {
    opacity: 0.8;
}

.site-blockqueote {
    padding-bottom: 191px;
}

.site-blockqueote__wrap {
    display: block;
    position: relative;
    width: 755px;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;


}

.site-blockqueote__wrap::before {
    position: absolute;
    content: "";
    background-image: url("./icons/line.svg");
    width: 140px;
    height: 1px;
    background-repeat: no-repeat;
    top: calc(50% - 76px);
    left: calc(50% - 80px);

}

.site-blockqueote__wrap::after {
    position: absolute;
    content: "";
    background-image: url("./icons/line.svg");
    width: 140px;
    height: 1px;
    background-repeat: no-repeat;
    top: calc(50% + 76px);
    left: calc(50% - 80px);
}

.site-blockqueote__wrapp {
    position: relative;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #949494;


}

.site-blockqueote__wrapp::before {
    position: absolute;
    content: "";
    background-image: url("./icons/blockquit.svg");
    width: 142px;
    height: 128px;
    background-repeat: no-repeat;
    top: calc(50% - 60px);
    left: calc(50% - 440px);

}

.site-blockqueote__wrapp::after {
    position: absolute;
    content: "";
    background-image: url("./icons/blockquitlast.svg");
    width: 148px;
    height: 78px;
    background-repeat: no-repeat;
    top: calc(50%);
    left: calc(50% + 410px);

}

.site-blockqueote__cite {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
}

/* .site-section-section {
} */
.site-section-second__text-box {
    width: 296px;
    margin: 0 auto;
    ;
}

.site-section-second__heading {
    margin: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #333333;
    text-align: center;

}

.site-section-second__button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-section-second__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    gap: 13px;
}

.site-section-second__item {
    position: relative;
    background-color: #fff;
    width: 193px;
    padding: 122px 32px 32px 42px;
    border-radius: 5px 5px 0px 0px;
    border: 2px solid #F3F3F3;
    border-radius: 5px;

}

.site-section-second__item:hover {

    opacity: 0.8;
}

.site-section-second__item:active {

    opacity: 0.6;
}


.site-section-second__item:nth-child(1)::before {
    position: absolute;
    content: "";
    background-image: url("./icons/doctor.svg");
    width: 54px;
    height: 77px;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 80px);
    left: calc(50% - 25px);
}

.site-section-second__item:nth-child(2)::before {
    position: absolute;
    content: "";
    background-image: url("./icons/doctorgirl.svg");
    width: 61px;
    height: 77px;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 80px);
    left: calc(50% - 30px);
}

.site-section-second__item:nth-child(3)::before {
    position: absolute;
    content: "";
    background-image: url("./icons/dogone.svg");
    width: 72px;
    height: 74px;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 80px);
    left: calc(50% - 25px);
}

.site-section-second__item:nth-child(4)::before {
    position: absolute;
    content: "";
    background-image: url("./icons/dermotolog.svg");
    width: 76px;
    height: 76px;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 80px);
    left: calc(50% - 29px);
}

.site-section-second__item:nth-child(5)::before {
    position: absolute;
    content: "";
    background-image: url("./icons/dogslast.svg");
    width: 78px;
    height: 78px;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 80px);
    left: calc(50% - 27px);
}

.site-section-second__item:nth-child(6)::before {
    position: absolute;
    content: "";
    background-image: url("./icons/labbaratory.svg");
    width: 78px;
    height: 78px;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 80px);
    left: calc(50% - 27px);
}

.site-section-second__link {
    text-decoration: none;

}

.site-section-second__text {
    margin: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.site-section-second__bot {
    /* position: absolute; */
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #F9F8F8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.site-section-second__bot:hover {
    background-color:  #FFFFFF;
    opacity: 0.8;
}

.site-section-second__bat:active {

    background-color: #120b0b;
    opacity: 0.6;
}

.site-section-second__last-box {
    display: flex;
    align-items: center;
    width: 1223px;
    margin: auto;
    padding: 41px 105px 41px 8px;
}

.site-section-second__image {
    border-radius: 5px;
    margin-right: 67px;

}

.desc-box-right__text {
    margin: 0;
    margin-bottom: 18px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;

    display: flex;
    align-items: center;
    color: #333333;
}

.desc-box-right__paragraph {
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #949494;
}

.desc-box-right__paragraph-last {
    margin: 0;
    margin-bottom: 34px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    color: #949494;
}

.desc-box-right {
    width: 492px;
}

.desc-box-right__link {
    display: inline-block;
    padding: 15px 36px 15px 63px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;


}

.desc-box-right__link:first-child {
    position: relative;
    margin-right: 21px;
    background: #333333;
    border-radius: 3px;

}

.desc-box-right__link:first-child::before {
    position: absolute;
    content: "";
    background-image: url("./icons/link1.svg");
    width: 21px;
    height: 21px;
    left: calc(50% - 60px);

}

.desc-box-right__link:first-child:hover {
    background: #FFBD54;
    color: #333333;
}

.desc-box-right__link:first-child:active {
    background: #FFBD54;
    color: #333333;
    ;
    opacity: 0.6;

}

.desc-box-right__link:last-child {
    position: relative;
    background: #FFBD54;
    border-radius: 3px;

}

.desc-box-right__link:last-child::before {
    position: absolute;
    content: "";
    background-image: url("./icons/link2.svg");
    width: 21px;
    height: 21px;
    left: calc(50% - 90px);

}

.desc-box-right__link:last-child:hover {
    background: #333333;
    color: #FFBD54;
}

.desc-box-right__link:last-child:active {
    background: #333333;
    color: #FFBD54;
    opacity: 0.6;
}

.site-article {
    background-image: url("./icons/bgdogarticle.png");
    width: 100%;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;



}

.site-article__form {
    padding-bottom: 100px;
}

.site-article__wrapper {
    padding-top: 170px;
    padding-left: 150px;
}

.site-article__text {
    margin: 0;

    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    /* or 42% */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 32px;

}



.site-article__input {
    width: 335px;
    margin-right: 21px;
    padding: 14px 22px 12px 22px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    border: 2px solid transparent;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    align-items: center;
    outline: none;
    color: #333333;

}

.site-article__input::placeholder {
    font-size: 16px;
    line-height: 21px;
    color: #949494;



}

input:invalid {
    border: 2px solid #DC4D41;
    color: #DC4D41;
}

input:hover {
    border: 2px solid #FFBD54;
}


.site-article__button {
    padding: 12px 52px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #333333;
    border-radius: 3px;
    border: none;
    outline: none;
    border: 2px solid transparent;
}

.site-article__button:hover {
    background: #FFBD54;
    color: #333333;
    border: 2px solid #FFBD54;
}

.site-article__button:active {
    opacity: 0.6;
}

.site-section-useful {
    padding-top: 100px;
    padding-bottom: 265px;
}

.site-section-useful__text-wrap {
    text-align: center;
    margin-bottom: 80px;
}

.site-section-useful__text {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.site-section-useful__list {
    margin: 0;

    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.site-section-useful__item {
    width: 305px;
    background: #FEFEFE;
    border: 1px solid #E4E4E2;
    border-radius: 5px;
}

.site-section-useful__item:nth-child(1) {
    width: 305px;

}

.site-section-useful__item:nth-child(2) {
    width: 640px;

}

.site-section-useful__link {
    display: inline-block;
    text-decoration: none;
}

.link {
    display: flex;
}

.site-section-useful__text-box {
    padding: 0 30px;
}

.site-section-useful__time {
    display: block;
    margin-top: 21px;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
    text-align: end;

}

.site-section-useful__text-heading {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    /* or 114% */
    color: #000000;

}

.site-section-useful__desc {
    margin: 0;
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 20px;
    color: #949494;

}

.site-section-useful__strong,
.time-box__time {
    position: relative;
    margin-left: 25px;
    margin-bottom: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #949494;
    transition: color 0.3s ease;


}

.site-section-useful__strong::before {
    position: absolute;
    content: "";
    background-image: url("./icons/pet.svg");
    width: 23px;
    height: 21px;
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(50% - 80px);
}

.site-section-useful__item--item-middle {
    display: flex;

}



.site-section-useful__right-box {
    padding: 0 34px 0px 30px;
}

.time-box__list {
    margin: 0;
    margin-top: 41px;
    margin-bottom: 28px;
    padding: 0;
    display: flex;
    list-style: none;
}

.time-box__item {
    margin-right: 7px;
}

.site-section-useful__item:hover .site-section-useful__strong {
    color: #FFBD54;
}

.site-section-useful__item:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.305);

}

.site-section-useful__item:active {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.305);
    opacity: 0.8;
}

.time-box__item:last-child {
    margin-left: auto;
    margin-right: 0;
}

.time-box__link {
    /* display: inline-block; */
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    color: #3D9CEA;
}

.time-box__text {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    /* or 112% */
    color: #333333;
}

.time-box__desc {
    margin: 0;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;

}

.site-section-last {
    margin-bottom: 247px;
}

.site-section-last__wrapper {
    max-width: 1700px;
    margin: 0 auto;
    display: flex;

}

.site-section-last__wrapperin {
    max-width: 1600px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: #333333;
    background-image: url("./icons/fisbgbgbg.png");
    background-size: 999px 639px;
    /* background-position: calc(50% + 250px) calc(50%); */
    background-repeat: no-repeat;


}



.site-section-last__form-box {

    display: flex;
    flex-direction: column;
    margin-top: 62px;
    margin-left: 166px;
    width: 375px;

}


.site-section-last__text {
    margin: 0;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
}

.site-section-last__desc {
    margin: 0;
    margin-bottom: 29px;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.site-section-last__input {
    margin-bottom: 14px;
    padding: 16px 22px 13px 22px;
}

.site-section-last__input::placeholder {
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #949494;
}

.site-section-last__email {
    margin-bottom: 14px;
    padding: 16px 22px 13px 22px;
}

.site-section-last__email::placeholder {
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #949494;
}

.site-section-last__textarea {
    margin-bottom: 30px;
    resize: none;
    outline: none;
    border: 2px solid transparent;

}

.site-section-last__textarea:hover {
    border: 2px solid #FFBD54;

}

.site-section-last__textarea::placeholder {
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #949494;
}

.site-section-last__button {
    margin-left: 166px;
    padding: 15px 50px;
    background: #FFBD54;
    border-radius: 0px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    border: none;
}

.site-footer {
    padding: 54px 0 23px 0;
    background: #F3F3F3;
}

.site-footer__wrapper {
    display: flex;
    align-items: start;

}

.site-footer__img {
    display: block;
    margin-right: 67px;
}
.site-footer__img:hover {
 opacity: 0.6;
}
.site-footer__img:active {
   opacity: 0.8;
}

.site-footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}



.site-footer__item {
   
    margin-right: 100px;
    margin-bottom: 14px;
}
.site-footer__link{
    transition: color 0.3s ease;
}
.site-footer__address{
    transition: color 0.3s ease;
}
.site-footer__time{
    transition: color 0.3s ease;
}

.site-footer__link:hover {
    color: #FFBD54;
}

.site-footer__link:active {
    color: rgba(51, 51, 51, 0.7);
}

.site-footer__time:hover {
    color: #FFBD54;
}
.site-footer__time:active {
    color: rgba(51, 51, 51, 0.7);
}

.site-footer__address:hover {
    color: #FFBD54;
}
.site-footer__address:active {
    color: rgba(51, 51, 51, 0.7);
}

.site-footer__item-las {
    transition: color 0.3s ease;
    margin-right: 157px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.site-footer__item-add {
    position: relative;

    margin-right: 136px;
    margin-bottom: 3px;
}
.site-footer__item-add:first-child:before{
    position:absolute;
    content: "";
    background-image: url("./icons/quarts.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    left: calc(50% - 85px);
    top:5px; 
}

.site-footer__item-map {
    position: relative;

    margin-right: 111px;
}
.site-footer__item-map:first-child:before{
    position:absolute;
    content: "";
    background-image: url("./icons/house.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    left: calc(50% - 95px);
    top:5px; 
}

.site-footer__item-tel {
    position: relative;
    margin-bottom: 4px;
    
}
.site-footer__item-tel:first-child:before{
    position:absolute;
    content: "";
    background-image: url("./icons/phgone.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    left: calc(50% - 85px);
    top:5px; 
}

.site-footer__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.site-footer__item_las {
    margin-bottom: 16px;
}

.site-footer__time {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    color: #333333;
}



.site-footer__address {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #333333;
}

.site-footer__desc-sec {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #5C5C5C;
}